body {
    font-family: Arial, sans-serif;
    background-color: #dad0d094;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

form {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    margin: 20px auto;
    background-color: #6e6a6a71;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(203, 13, 13);
    color: #ffffff;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin: 6px 0 12px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 6px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input:invalid {
    border-color: #dc3545;
}

input:invalid:focus {
    box-shadow: 0 0 5px #dc3545;
}

input[type="file"] {
    cursor: pointer;
}
#fullname,#email,#phone,#address,#jobtitle,#education,#experience,#skills,#resume{
    background: #3ed2dca4;
}
.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media (min-aspect-ratio: 16/9) {
    .video {
      width: 100%;
      height: auto;
      position: fixed;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video {
      width: auto;
      height: 100%;
      position: fixed;
    }
  }
  .sub{
    display: flex;
    background: greenyellow;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .sub a{
    text-decoration: none;
    color: #000000;
    font-family: "Poppings", sans-serif;
  }
  .sub a:hover{
    font-size: 20px;
    font-family: Roboto;
  }